.confirm small {
    position: absolute;
    left: 100%;
    background: $error-background-light;
    box-shadow: 0 2px 7px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.45);
    border-radius: 3px;
    margin-left: 14px;
    font-size: 13px;
    line-height: 18px;
    color: $confirm-text-light;
    width: 160px;
    border: 1px solid $text-confirm;
    padding: 11px;
    max-width: 160px;
}

.confirm small::before {
    content: '';
    position: absolute;
    z-index: 99999;
    border-left: 1.3px solid $text-confirm;
    width: 12px;
    height: 12px;
    transform: rotateY(0deg) rotate(45deg);
    left: -7px;
    background-color: $error-background-light;
    border-bottom: 1.3px solid $text-confirm;
    top: 11px;
  }

@media (prefers-color-scheme: dark) {
    .confirm small {
        background: $error-background-dark;
        color: $confirm-text-dark;
    };
    .confirm small::before {
        background: $error-background-dark;
        border-right-color: $error-background-dark;
    }
}

@media (prefers-color-scheme: light) {
    .confirm small {
        background: $error-background-light;
        color: $confirm-text-light;
    };
    .confirm small::before {
        background: $error-background-light;
        border-right-color: $error-background-light;
    }
}