footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    font-size: 1.1rem;
    padding: 50px 24px;
    max-width: 1150px;
    min-width: 300px;
    margin: 0 auto;

    .area {
        color: $footer-link-light;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        font-weight: 400;
        font-size: 1.3rem;

        .footerLogo img {
            width: 120px;
            opacity: 0.5;
            margin-bottom: 12px;
        }

        .copyright {
            font-size: 1.1rem;
            position: relative;
            top: 118px;
        }

        .title {
            color: $footer-heading-light;
            font-size: 1.5rem;
            font-family: Gilroy;
            padding-bottom: 12px;
        }
        .fill {
            display: none;
        }
    }
    .bigarea {
        color: $footer-link-light;
    }
}

@media (prefers-color-scheme: dark) {
    footer {
        .area {
            color: $footer-link-dark;
            .title {
                color: $footer-heading-dark;
            }
        }
        .bigarea {
            color: $footer-link-dark;
        }
    }
}

@media (prefers-color-scheme: light) {
    footer {
        .area {
            color: $footer-link-light;
            .title {
                color: $footer-heading-light;
            }
        }
        .bigarea {
            color: $footer-link-light;
        }
    }
}

@media screen and (min-width: 800px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        .area {
            .fill {
                display: inline;
            }
        }
    }
}