header {
    user-select: none;
    display: grid;
    grid-template-columns: 70px auto;
    height: 64px;
    max-width: 1150px;
    min-width: 300px;
    margin: 0 auto;
    line-height: 64px;

    .menuLogo {
        text-align: center;
        padding-right: 70px;

        img {
            vertical-align: middle;
        }

    }

    .textNav {
        white-space: nowrap;
        display: none;
        grid-template-columns: repeat(4, auto);
        grid-gap: 40px;
        font-size: 1.4rem;
        @import 'modal.scss';

        .loggedOut {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 12px;
        }
        .loggedIn {

            .namePill {
                display: grid;
                grid-template-columns: repeat(2, auto);
                border-radius: 18px;
                height: 36px;
                position: relative;
                top: 15px;
                .initial {
                    border-radius: 50%;
                    height: 28px;
                    width: 28px;
                    text-align: center;
                    margin: 4px;
                    line-height: 25px;
                    font-weight: 600;
                    padding: 1px
                }
                .name {
                    
                    font-weight: 600;
                    line-height: 35px;
                    margin: 0 15px 0 5px;
                }
            }
            .namePill:hover {
                background-color: black;
            }
        }
    }

    .textNav a {
        text-decoration: none;
    }

    .menuNav {
        cursor: pointer;
        img {
            padding: 0 24px;
        }
    }

}

@media (prefers-color-scheme: dark) {
    header {
        .textNav {
            .loggedIn {
                .namePill {
                    .initial {
                        color: $namePill-text-dark;
                        background-color: $namePill-background-dark;
                    }
                    .name {
                        color: $namePill-text-dark;
                    }
                }
                .namePull:hover {
                    background-color: $namePill-hover-dark;
                }
            }
            a {
                color: $body-text-dark;
            }
            a:hover{
                color: $link-text-dark
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    header {
        .textNav {
            .loggedIn {
                .namePill {
                    .initial {
                        color: $namePill-text-light;
                        background-color: $namePill-background-light;
                    }
                    .name {
                        color: $namePill-text-light;
                    }
                }
                .namePull:hover {
                    background-color: $namePill-hover-light;
                }
            }
            a {
                color: $body-text-light;
            }
            a:hover{
                color: $link-text-light
            }
        }
    }
}

@media screen and (min-width: 800px) {
    header {
      padding: 0 24px;
      grid-template-columns: 1fr auto;
      .menuLogo {
        text-align: left;
        padding-left: 0;
      }
      .menuNav {
        display: none;
      }
      .textNav {
        display: grid;
      }
    }
}