.join {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 12px;
    .label {
        display: block;
        padding: 8px 0 6px;
        font-size: 14px;
    }
    .text {
        padding-bottom: 12px;
    }
    span {
        position: relative;
        @import 'error.scss';
    }
    .small-text {
        text-align: center;
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
        max-width: 230px;
        margin: auto;
        span {
            font-weight: 600;
            cursor: pointer;
        }
    }
    .title {
        font-family: Gilroy;
        font-size: 24px;
    }
    .input-text {
        width: 100%;
        vertical-align: middle;
        padding: 8px 12px;
        line-height: 19px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: #393D4D;
        background: #EBECED;
        font-weight: 500;
        border: 2px solid transparent;
    }
    .error {
        border: 2px solid $text-error;
        color: $border-error;

    }
    .btn-join {
        padding: 0 20px;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        line-height: 40px;
        border-radius: 5px;
        font-size: 14.5px;
        background: #2581E3;
        margin: 8px 0 6px;
        width: 100%;
        .loading {
            height: 10px;
        }
    }  
}

@media (prefers-color-scheme: dark) {

    .join {
        .small-text {
            span {
               color: $text-link-dark 
            }
        }
    }

}

@media (prefers-color-scheme: light) {

    .join {
        .small-text {
            span {
               color: $text-link-light 
            }
        }
    }

}


