.screen {
    overflow: hidden;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        
        .email {
            text-align: center;
            height: 42px;
            font-size: 1.3rem;
            line-height: 42px;
            span {
                font-weight: 800;
            }
            a {
                font-weight: 800;
                text-decoration: none;
            }
        }
        .body {
            position: relative;
            display: block;

            .page {
                position: absolute;
                left: 0;
                right: 0;
                display: block;
            }
        }
        .cover {
            display: none;
            cursor: pointer;
            z-index: 9999;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            position: absolute;
            @import 'menu.scss';
        }
        .menu {
            width: 80vw;
            height: 100vh;
            left: -80vw;
            position: absolute;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            @import 'menu.scss';
        }

        .header {
            @import 'header.scss';
        }

        .footer{
            @import 'footer.scss';
        }

    }

}

@media (prefers-color-scheme: dark) {
    .screen {
        .layout{
            .menu {
                background-color: $menu-background-dark;
                border-left: 1px solid $top-border-dark;
            }
            .header {
                border-bottom: 1px solid $top-border-dark;
                border-top: 1px solid $top-border-dark;
            }
            .footer{
                border-top: 1px solid $top-border-dark;
                border-bottom: 50px solid $footer-border-dark;
            }
            .cover {
                background-color: $background-dark;
            }
            .email {
                background-color: $confirm-background-dark;
                color: $confirm-text-dark;
                a {
                    color: $confirm-text-dark;
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    .screen {
        .layout{
            .menu {
                background-color: $menu-background-light;
                border-left: 1px solid $top-border-light;
            }
            .header {
                border-bottom: 1px solid $top-border-light;
            }
            .footer{
                border-top: 1px solid $top-border-light;
                border-bottom: 50px solid $footer-border-lihgt;
            }
            .cover {
                background-color: $background-light;
            }
            .email {
                background-color: $confirm-background-light;
                color: $confirm-text-light;
                a {
                    color: $confirm-text-light;
                }
            }
        }
    }
}
