.modal {
    white-space: normal;
    line-height: 2rem;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: pointer;
    
    .card {
        border: 1px solid $modal-border-light;
        background-color: $modal-background-light;
        color: $modal-text-light;
        box-shadow: 0 0 4px rgba(0,0,0,0.9);
        width: 400px;
        border-radius: 10px;
        opacity: 0;
        cursor: default;
        padding: 40px;
        @import 'join.scss';
    }
}
.modal-title {
    color: $body-text-light;
}
.modal-title:hover{
    color: $link-text-light
}
.modal-join {
    color: $join-text-light;
    background-color: $join-background-light;
    font-size: 13px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 3px;
    line-height: 33px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    top: 15px;
    transition: background .2s ease-in-out;
}
.modal-join:hover {
    background-color: $join-hover-light;
}

.modal-login {
    color: $login-text-light;
    background-color: $login-background-light;
    font-size: 13px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 3px;
    line-height: 33px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    top: 15px;
    transition: background .2s ease-in-out;
}
.modal-login:hover {
    background-color: $login-hover-light;
}


@media (prefers-color-scheme: dark) {
    .modal {
        .card {
            border: 1px solid $modal-border-dark;
            background-color: $modal-background-dark;
            color: $modal-text-dark;
        }
    }
    .modal-join {
        color: $join-text-dark;
        background-color: $join-background-dark;
    }
    .modal-join:hover {
        background-color: $join-hover-dark;
    }
    .modal-login {
        color: $login-text-dark;
        background-color: $login-background-dark;
    }
    .modal-login:hover {
        background-color: $login-hover-dark;
    }
    .modal-title {
        color: $body-text-dark;
    }
    .modal-title:hover {
        color: $link-text-dark
    }

}

@media (prefers-color-scheme: light) {
    .modal {
        .card {
            border: 1px solid $modal-border-light;
            background-color: $modal-background-light;
            color: $modal-text-light;
        }
    }
    .modal-join {
        color: $join-text-light;
        background-color: $join-background-light;
    }
    .modal-join:hover {
        background-color: $join-hover-light;
    }
    .modal-login {
        color: $login-text-light;
        background-color: $login-background-light;
    }
    .modal-login:hover {
        background-color: $login-hover-light;
    }
    .modal-title {
        color: $body-text-light;
    }
    .modal-title:hover{
        color: $link-text-light
    }

}
