.nav {
    display: none;
    position: fixed;
    margin: 24px;
    background: $background-dark;
    border: 1px solid $top-border-dark;
    border-radius: 5px;
    width: 250px;
    grid-gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    size: 1.4rem;
    
    hr {
        background-color: $top-border-light;
        height: 1px;
        display: block;
        margin: 12px 0px;
    }
    
    a {
        color: $body-text-light;
        text-decoration: none;
        padding: 0;
        list-style-type: none;
        div {
            padding: 6px 6px 6px 26px;
            grid-template-columns: 20px 1fr;
            display: grid;
            font-size: 14px;
        }
        div::before {
            content: '';
            height: 12px;
            width: 12px;
            border: 1px solid #9B9B9B;
            border-radius: 50%;
            display: block;
            position: relative;
            top: 2.5px;
            left: -6px;
        }
        div:hover {
            background-color: $menu-background-light;
            color: #3080E2;
        }
        div:hover::before {
            content: '';
            height: 12px;
            width: 12px;
            border: 1px solid #3080E2;
            border-radius: 50%;
            display: block;
        }
        .nav-selected {
            background-color: #21282D;
            color: #3080E2;
        }
        .nav-selected::before {
            background-color: #3080E2;
            border: 1px solid transparent;
        }
    }
}


@media (prefers-color-scheme: dark) {
    .nav {
        background: $background-dark;
        border: 1px solid $top-border-dark;
        hr {
            background-color: $top-border-dark;;
        }
        a {
            color: $body-text-dark;
            div:hover {
                background-color: $menu-background-dark;
                color: #3080E2;
            }
            .nav-selected {
                background-color: $menu-background-dark;
                color: #3080E2;
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    .nav {
        background: $background-light;
        border: 1px solid $top-border-light;
        hr {
            background-color: $top-border-light
        }
        a {
            color: $body-text-light;
            div:hover {
                background-color: $menu-background-light;
                color: #3080E2;
            }
            .nav-selected {
                background-color: $menu-background-light;
                color: #3080E2;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .nav {
        display: block;
    }
}