.warning-bar {
    background-color: $confirm-background-light;
    color: $warning-text-light;
    text-align: center;
    height: 0px;
    font-size: 1.1rem;
    line-height: 16px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    .confirm-warning {
        span {
            font-weight: 800;
            cursor: pointer;
        }
    }
    a {
        color: $warning-text-light;
        font-weight: 800;
        text-decoration: none;
    }
    .confirm-warning {
        display: none;
    }
    .invalid-warning {
        display: none;
    }
    .confirmed-warning {
        display: none;
    }
    .resend-warning {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .warning-bar {
        background-color: $confirm-background-dark;
        color: $warning-text-dark;
        a {
            color: $warning-text-dark;
        }
    }
}


@media (prefers-color-scheme: light) {
    .warning-bar {
        background-color: $confirm-background-light;
        color: $warning-text-light;
        a {
            color: $warning-text-light;
        }
    }
}

@media screen and (min-width: 800px) {
    .warning-bar {
        display: flex;
    }
}