.warning-bar {
    text-align: center;
    height: 42px;
    font-size: 1.3rem;
    line-height: 42px;
    display: block;
    .confirm {
        span {
            font-weight: 800;
            cursor: pointer;
        }
    }
    a {
        font-weight: 800;
        text-decoration: none;
    }
    .confirm {
        display: none;
    }
    .invalid {
        display: none;
    }
    .confirmed {
        display: none;
    }
    .resend {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .warning-bar {
        background-color: $confirm-background-dark;
        color: $confirm-text-dark;
        a {
            color: $confirm-text-dark;
        }
    }
}


@media (prefers-color-scheme: light) {
    .warning-bar {
        background-color: $confirm-background-light;
        color: $confirm-text-light;
        a {
            color: $confirm-text-light;
        }
    }
}