@media (prefers-color-scheme: light) {
  html {
      background: $agenixWhite;
      color: $agenixDarkGrey;
      body {
        .layout {
          .menu {
            background-color: $menu-background-light;
            .items {
              .item a{
                color: #363D47;
              }
              .item a:hover{
                color: #267FBE
              }
            }
          }
          .home {
            .header {
              border-bottom: 1px solid $top-border-light;
            }
            header {
              .textNav a {
                color: #363D47;
              }
              .textNav a:hover{
                color: #267FBE
              }
            }
          }
        }
      }
    }
  }

@media (prefers-color-scheme: dark) {
  html {
      background: $agenixDarkGrey;
      color: $agenixWhite;
      body {
        .layout {
          .menu {
            background-color: $menu-background-dark;
            .items {
              .item a{
                color: #FFFFFF;
              }
              .item a:hover{
                color: #78C7FC;
              }
            }
          }
          .home {
            .header {
              border-bottom: 1px solid $top-border-dark;
            }
            header {
              .textNav a{
              color: #FFFFFF;
              }
              .textNav a:hover{
                color: #78C7FC
              }
            }
          }
        }
      }
    }
}

@media screen and (min-width: 450px) {
  html {
    body {
      .layout {
        .home{
          header {
            .menuNav {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  html {
    body {
      .layout {
        .menu {
          display: none;
        }
        .home{
          header {
            padding: 0 24px;
            grid-template-columns: 1fr 1fr;
            .menuLogo {
              text-align: left;
              padding-left: 0;
            }
            .menuNav {
              display: none;
              
            }
            .textNav {
              display: grid;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  html {
    body {
      .layout {
        .menu {
          display: none;
        }
        .home{
          header {
            padding: 0;
          }
        }
      }
    }
  }
}