$background-dark: #1F262B;
$background-light: #FFFFFF;

$body-text-dark: #FFFFFF;
$body-text-light: #363D47;

$h1-text-dark: #78C8FD;
$h1-text-light: #267FBE;

$top-border-dark: #111518;
$top-border-light: #EDEDED;

$menu-background-dark: #252D32;
$menu-background-light: #EBECED;

$footer-border-dark: #000000;
$footer-border-lihgt: #EBECED;


$footer-heading-dark: #FFFFFF;
$footer-heading-light: #267FBE;

$footer-link-dark: #B3DBFF;
$footer-link-light: #2D363D;
