$background-dark: #1F262B;
$background-light: #FFFFFF;
$body-text-dark: #FFFFFF;
$body-text-light: #363D47;
$h1-text-dark: #78C8FD;
$h1-text-light: #267FBE;
$top-border-dark: #000000;
$top-border-light: #F6F6F6;
$menu-background-dark: #252D32;
$menu-background-light: #EBECED;


$agenixGreen: #149F93;
$agenixDarkGrey: #333433;
$agenixWhite: #F7F7F7;